@model RMS.Models.InvoiceModelViewConfirmation
@{
    ViewData["Title"] = "Index";
}

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col text-center mt-5">
                        <h1>Invoice Confirmation</h1>
                        <p>
                            Thank you for your order. Your invoice details are as
                            follows:
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Invoice : @Model.InvoiceNo </h5>
                        <p>Date: @Model.Date</p>
                    </div>
                    <div class="col text-end">
                        <h5>Customer Information</h5>
                        <p>Name: @Model.Name</p>
                        <p>@Model.Email</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Items</h5>
                        <div style="overflow-x: auto; width: 100%">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Material Code</th>
                                        <th>Material</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InvoiceConf)
                                    {
                                        <tr>
                                            <td>@item.MaterialCode</td>
                                            <td>@item.Material</td>
                                            <td>@item.Quantity</td>
                                            <td> $ @item.Price</td>
                                            <td> $ @item.Total</td>
                                        </tr>
                                    }
                                   
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <h5>Total Amount :$ @Model.TotalAmount</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button class="btn btn-primary">Download Invoice</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-container text-center">
        <a href="#">
            <button class="accept-btn bg-success text-light" style="border:none; border-radius:3px">Confirm</button>
        </a>
        <a href="#">
            <button class="reject-btn bg-danger text-light" style="border:none; border-radius:3px">Reject</button>
        </a>
    </div>
</div>

