@model RMS.Models.ConsumptionEntry

@{
    ViewData["Title"] = "SubmitConsumption";
}


<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Consumption Entry Form</h5>

            <!-- ---------------------------------------- -->
            <form asp-controller="ConsumptionEntry" asp-action="SubmitConsumption" method="post">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Plants" class="control-label">Plant</label>
                        <select asp-for="Plants" class="form-control">
                            <option value="">-- Plants --</option>
                            @foreach (var plant in ViewBag.Plants)
                            {
                                <option value="@plant.Plants">@plant.Plants</option>
                            }
                        </select>
                        <span asp-validation-for="Plants" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">

                        <label asp-for="Product" class="control-label">Product</label>
                        <select asp-for="Product" class="form-control">
                            <option value="">-- Product Number --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="product.ProductId">@product.ProductNumber</option>
                            }
                        </select>
                        <span asp-validation-for="Product" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="ProductDescription" class="control-label">Material Description</label>
                        <select asp-for="ProductDescription" class="form-control">
                            <option value="">-- Select Product Description --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="@product.ProductId">@product.ProductDescription</option>
                            }
                        </select>
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="UnitOfMeasurement" class="control-label">UMO</label>
                        <select asp-for="UnitOfMeasurement" class="form-control">
                            <option value="">-- Unit Of Measurement --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="@product.UnitOfMeasurement">@product.UnitOfMeasurement</option>
                            }
                        </select>
                        <span asp-validation-for="UnitOfMeasurement" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="ProductType" class="control-label">Product Type</label>
                        <select asp-for="ProductType" class="form-control">
                            <option value="">-- Product Type --</option>
                            @foreach (var producttype in ViewBag.Products)
                            {
                                <option value="@producttype.ProductType">@producttype.ProductType</option>
                            }
                        </select>
                        <span asp-validation-for="ProductType" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ProductDescription" class="control-label">Product Description</label>
                        <select asp-for="ProductDescription" class="form-control">
                            <option value="">-- Select Product Description --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="@product.ProductDescription">@product.ProductDescription</option>
                            }
                        </select>
                        <span asp-validation-for="ProductDescription" class="text-danger"></span> 
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="DateOfConsumption" class="control-label">Date of Quantity Consumed</label>
                        <input type="date"
                               asp-for="DateOfConsumption" class="form-control"
                               class="form-control"
                               id="dateOfQuantityConsumed"
                               required />
                        <span asp-validation-for="DateOfConsumption" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="QtyConsumed" class="control-label">Quantity Consumed</label>
                        <input type="number"
                               asp-for="QtyConsumed" class="form-control"
                               class="form-control"
                               id="quantityConsumed"
                               placeholder="Enter Quantity Consumed"
                               required />
                        <span asp-validation-for="QtyConsumed" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="UnrestrictedStock" class="control-label">Unrestricted Stock</label>
                        <input type="number"
                               asp-for="UnrestrictedStock" class="form-control"
                               id="unrestrictedStock"
                               placeholder="Enter Unrestricted Stock"
                               required />
                        <span asp-validation-for="UnrestrictedStock" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
