@model IEnumerable<RMS.Models.ProductMasterOverview>

@{
    ViewData["Title"] = "Index";
}


<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Material Master Overview </h5>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead> 
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.ProductNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductGroup)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitOfMeasurement)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductType)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductGroup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitOfMeasurement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductType)
                                </td>
                                <td>

                                    @Html.ActionLink("Details", "Details", new {  id=item.ProductId  })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
