@model List<OpenGoodsReceipts>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Open Good Receipts Report</h5>

            <div class="row d-flex justify-content-between">
                <div class="col-md-4 mb-3">
                    <label for="startDate" class="form-label">Start Date:</label>
                    <input type="date" class="form-control" id="startDate" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="endDate" class="form-label">End Date:</label>
                    <input type="date" class="form-control" id="endDate" />
                </div>
            </div>
            <div style="width: 100%; overflow-x: auto">
                <table class="table table-hover" style="overflow-x: auto">
                    <thead>
                        <tr>
                            <th scope="col">Receipt ID</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Date Received</th>
                            <th scope="col">Material Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.ReceiptId</td>
                                <td>@item.Supplier</td>
                                <td>@item.Date.ToString("dd-MM-yyyy")</td>
                                <td>@item.MaterialName</td>
                                <td>@item.Quantity</td>
                                <td>$@item.UnitPrice</td>
                                <td>$@item.TotalPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>