@model IEnumerable<Product>
<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Material Master Overview Page</h5>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Product</th>
                            <th scope="col">Product Description</th>
                            <th scope="col">Product Group</th>
                            <th scope="col">UOM (Unit of Measure)</th>
                            <th scope="col">Product Type</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr class="text-center">
                                <td>@product.ProductNumber</td>
                                <td>@product.ProductDescription</td>
                                <td>@product.ProductGroup</td>
                                <td>@product.UnitOfMeasurement</td>
                                <td>@product.ProductType</td>
                                <td>
                                    <button style="border: none">
                                        <a href="#">Details</a>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Product Master DataOverview -->