@model RMS.Models.Plant

@{
    ViewData["Title"] = "Details";
}

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Inventory Status Report / This Month</h5>
          
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CustomerId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CustomerDescription)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CustomerDescription)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Plants)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Plants)
                    </dd>
                </dl>
  
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
