@model IEnumerable<RMS.Models.Plant>

@{
    ViewData["Title"] = "Index";
}

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Plant Master Overview</h5>
            <div class="table-responsive">


                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.CustomerName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plants)
                            </th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plants)
                                </td>
                                <td>

                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>