@model IEnumerable<RMS.Models.InventoryUpdateOverview>

@{
    ViewData["Title"] = "Index";
}

<div class="col-12 inventoryUpdate">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Inventory Update</h5>

            <div class="updated-btn mb-4">
                <button class=" bg-primary text-light"
                        style="border: none; border-radius: 5px ; height:50px">
                    <a asp-action="Create" class="text-light bg-primary"> + Add new field </a>
                </button>
                <div class="download-btn " style="margin-top:5px" >
                    <a asp-controller="InventoryUpdateOverview" asp-action="TemplateDownload" style="margin:10px 0px ">
                        <button class="p-2 text-light bg-primary"
                                style="border: none; border-radius: 5px">
                            Download file
                        </button>
                    </a>
                    <a asp-controller="InventoryUpdateOverview" asp-action="TemplateUpload" style="margin:10px 10px">
                        <button class="p-2 text-light bg-primary"
                                style="border: none; border-radius: 5px">
                            Upload file
                        </button>
                    </a>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th>
                                @Html.DisplayNameFor(model => model.ProductCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Uom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OpenStock)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Consumption)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Plant)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Uom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OpenStock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consumption)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Plant)
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>