@model List<CompletedRequestsReport>


<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Completed Requests Report</h5>
            <div style="width: 100%; overflow-x: auto">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Request ID</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Completed By</th>
                            <th>Date Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example data, replace with actual data from your database -->

                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.RequestId</td>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.CompletedBy</td>
                                <td>@item.DateCompleted.ToString("dd/MM/yyyy")</td>
                            </tr>
                        }
                       
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>