@model RMS.Models.Inquiry

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">

            <h5 class="card-title">New Inquiry Form</h5>

            @* <div class="d-flex justify-content-end">
            <button
            class="bg-primary p-3"
            style="border: none; border-radius: 5px"
            >
            <a href="addNewMaterial.html" class="text-light"
            >Add New Material</a
            >
            </button>
            </div> *@
            <form asp-controller="Inquiry" asp-action="SubmitInquiry" method="post">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="requestNo" class="form-label">Request No</label>
                        <input type="text"
                               class="form-control"
                               id="requestNo"
                               placeholder="Enter Request No"
                               required
                               asp-for="RequestNo" />
                    </div>

                    <div class="col-md-6">
                        <label for="hfCust" class="form-label">HF Cust</label>
                        <input type="text"
                               class="form-control"
                               id="hfCust"
                               placeholder="Enter HF Cust"
                               required
                               asp-for="Customer" 
                        />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="refNo" class="form-label">Ref. No</label>
                        <input type="text"
                               class="form-control"
                               id="refNo"
                               placeholder="Enter Ref No"
                               required
                               asp-for="RefNo" />
                        
                    </div>

                    <div class="col-md-6">
                        <label for="refDate" class="form-label">Ref Date</label>
                        <input type="date"
                               class="form-control"
                               id="refDate"
                               required
                               asp-for="RefDate" 
                        />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="ProductNumber" class="control-label">Product Number</label>
                        <select asp-for="ProductNumber" class="form-control">
                            <option value="">-- Select Product Number --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="@product.ProductNumber">@product.ProductNumber</option>
                            }
                        </select>
                        <span asp-validation-for="ProductNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="ProductDescription" class="control-label">Product Description</label>
                        <select asp-for="ProductDescription" class="form-control">
                            <option value="">-- Select Product Description --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="@product.ProductDescription">@product.ProductDescription</option>
                            }
                        </select>
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="quantity" class="form-label">Quantity </label>
                        <input type="number"
                               class="form-control"
                               id="quantity"
                               placeholder="Enter Quantity"
                               required
                               asp-for="Quantity" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="UnitOfMeasurement" class="control-label">UMO</label>
                        <select asp-for="UnitOfMeasurement" class="form-control">
                            <option value="">-- Unit Of Measurement --</option>
                            @foreach (var product in ViewBag.Products)
                            {
                                <option value="@product.UnitOfMeasurement">@product.UnitOfMeasurement</option>
                            }
                        </select>
                        <span asp-validation-for="UnitOfMeasurement" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="budget" class="form-label">Budget</label>
                        <input type="budget"
                               class="form-control"
                               id="budget"
                               placeholder="Enter budget "
                               asp-for="Budget" />
                    </div>
                    <div class="col-md-6">
                        <label for="branch" class="form-label">Branch</label>
                        <input type="branch"
                               class="form-control"
                               id="branch"
                               placeholder="Enter branch name"
                               asp-for="Branch" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="expectedDelivery" class="form-label">Expected Delivery</label>
                        <input type="date"
                               class="form-control"
                               id="expectedDelivery"
                               required
                               asp-for="ExpectedDelivery" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>