@model List<OpenRequestReport>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Open Request Report</h5>

            <div class="row mt-3 d-flex justify-content-between">
                <div class="col-md-4 mb-3">
                    <label for="startDate" class="form-label">Start Date:</label>
                    <input type="date" class="form-control" id="startDate" />
                </div>
                <div class="col-md-4 mb-3">
                    <label for="endDate" class="form-label">End Date:</label>
                    <input type="date" class="form-control" id="endDate" />
                </div>
            </div>
            <div style="width: 100%; overflow-x: auto">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center align-items-center">
                            <th scope="col">ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@item.Id</td>
                                <td>@item.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>@item.TotalValue</td>
                            </tr>
                        }
                       
                        
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>