@model IEnumerable<RMS.Models.OutboundDeliveryNo>

@{
    ViewData["Title"] = "Index";
}



<div class="col-12 mt-5">
   
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">OutBound Delievry No </h5>
            <div style="width: 100%; overflow-x: auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OBDNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PickedQuantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Branch)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OBDNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PickedQuantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Branch)
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
    <div class="btn-container text-center">
        <a href="#">
            <button style="border:none; border-radius:3px" class="accept-btn bg-success text-light">Accept</button>
        </a>
        <a href="#">
            <button style="border:none ; border-radius:3px" class="reject-btn bg-danger text-light">Reject</button>
        </a>
    </div>
</div>
