@model IEnumerable<RMS.Models.ProofOfDelivery>

@{
    ViewData["Title"] = "Index";
}

<div class="col-12 mt-5">
    
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Proof Of Delivery</h5>
            <div style="width: 100%; overflow-x: auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RequestNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.QuotationNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SalesNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OBDNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GoodReceipt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PODNo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RequestNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuotationNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SalesNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OBDNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GoodReceipt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PODNo)
                                </td>
                            
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
    <div class="btn-container text-center">
        <a href="#">
            <button style="border:none; border-radius:3px" class="accept-btn bg-success text-light">Accept</button>
        </a>
        <a href="#">
            <button style="border:none; border-radius:3px" class="reject-btn bg-danger text-light">Reject</button>
        </a>
    </div>
</div>