@model List<GoodsReceiptOverview>

<div class="col-12">
    <div class="card good-Receipt overflow-auto">
        <div class="card-body">
            <h5 class="card-title">Good Receipt Overview</h5>

            <div style="width: 100%; overflow-x: auto">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col ">Request No</th>
                            <th scope="col ">Quotation No</th>
                            <th scope="col ">Sales No</th>
                            <th scope="col ">OBD No</th>
                            <th scope="col ">Good Receipt</th>
                            <th scope="col ">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var goodsReceiptOverView in Model)
                        {
                            <tr class="text-center">
                                <td>@goodsReceiptOverView.RequestNo</td>
                                <td><a class="text-dark" asp-controller="OutboundDelivery" asp-action="index" >@goodsReceiptOverView.QuotationNo</a> </td>
                                <td><a class="text-dark" asp-controller="OutboundDelivery" asp-action="index" >@goodsReceiptOverView.SalesNo</a> </td>
                                <td><a class="text-dark" asp-controller="OutboundDelivery" asp-action="index" >@goodsReceiptOverView.OBDNo</a> </td>
                                <td>@goodsReceiptOverView.GoodReceipt</td>
                                <td>
                                    <a class="accept-btn">
                                        <button style="border:none; border-radius:3px" class="accept-btn bg-success text-light">Accept</button>
                                    </a>
                                    <a class="reject-btn">
                                        <button style="border:none ; border-radius:3px" class="reject-btn bg-danger text-light">Reject</button>
                                    </a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>