@model RMS.Models.QuotationDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuotationDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuotationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuotationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
